.Discover {
  display: flex;
  flex-direction: column;
  height: 35vh;
  overflow-y: hidden;
  margin: 20px;
}

.discoverGenres {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 10px;
}

.genreSelector {
  height: 30px;
  width: 140px;
  font-size: 1.25em;
}

h2 {
  color: white;
  font-weight: bolder;
  font-style: italic;
}

.discoveredSongCard {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  width: 1650px;
  height: 20vh;
  overflow-x: scroll;
  overflow-y: hidden;
  flex-direction: row;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
