.Discover {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
  flex-grow: 8;
  height: 100%;
}

.discoverGenres {
  display: flex;
  width: 100%;
  margin-left: 5px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.genreSelector:hover {
  background: rgb(27, 35, 64);
}

.genreSelector {
  background: transparent;
  height: 30px;
  width: 140px;
  font-size: 1.15em;
  color: white;
  font-style: italic;
  margin-top: 2px;
  margin-right: 25px;
}

.topchartsLabel {
  color: white;
  font-weight: bolder;
  font-style: italic;
  overflow: hidden;
  font-size: 2rem;
}

.discoveredSongCard {
  display: flex;
  width: 100%;
  scroll-snap-type: y proximity;
  flex-direction: column;
  flex: auto;
  align-items: stretch;
  margin-top: 15px;
}
.DiscoveredSongs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
