.searchDiv {
  display: flex;
  height: 70vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: space-around;
  width: 100%;
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
  margin-top: 30px;
}

.searchedSongsContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  overflow: scroll;
}

.searchHead {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
}
