.topCharts {
  display: flex;
  height: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: space-around;
  width: 100%;
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
  /* margin: 30px; */
  flex-grow: 3;
}

.topChartsSongsContainer {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 100%;
  overflow: auto;
  flex-direction: column;
  /* flex-grow: 1; */
  flex-wrap: nowrap;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent;
}

.topchartsLabel {
  color: white;
  font-size: 2rem;
}
