.artistCard {
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: 250px;
  align-items: center;
  background-color: rgb(3, 37, 58);
  border-radius: 10px;
}

.artistCard:hover {
  background: rgba(128, 128, 128, 0.404);
}

.artistImage {
  width: 190px;
  height: 180px;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}

.trackSub {
  color: white;
  max-width: 200px;
  overflow: hidden;
  padding-top: 5px;
}
