.playIcon {
  padding-top: 10px;
  font-size: 2em;
  color: rgb(74 177 141);
  margin: 5px;
  margin-right: 20px;
}

.pauseIcon {
  font-size: 2em;
  color: rgb(74 177 141);
  margin: 3px;
  padding-top: 10px;
  margin-right: 20px;
}
