.relatedSongsContainer {
  border-top: groove gray;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 56vh;
  overflow: scroll;
}

.relatedSongbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: scroll;
  flex-grow: 2;
}

.relatedSongbar .songCardContainer {
  display: flex;
  width: 100%;
}

.relatedSongsHead {
  color: white;
}
