.relatedSongsContainer {
  border-top: groove gray;
  display: flex;
  flex-direction: column;
  width: 1650px;
  margin: auto;
  height: 56vh;
  overflow: scroll;
}

.relatedSongbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: scroll;
}

.relatedSongbar .songCardContainer {
  display: flex;
  width: 100%;
}
