.sideBar {
  border-right: groove rgba(0, 0, 0, 0.33);
  background-color: rgb(25, 47, 65);
  height: 100vh;
  width: 300px;
  flex-grow: 2;
  flex-shrink: 1;
  position: fixed;
}

.OuterSpace {
  color: white;
  margin: auto;
  padding: 20px;
  border-bottom: groove rgb(149, 144, 144);
  background-image: url('./19333449.jpg');
  background-position: center;
  background-size: 170px;
}
.navItemName {
  color: aliceblue;
  margin-right: 10px;
}

.navItemClass {
  color: white;
  width: 100%;
  font-size: 1.25em;
  font-style: italic;
  font-weight: bolder;
  text-decoration: none;
}

.navLinks {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.navItemClass {
  border-bottom: groove gray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Menu {
  color: white;
  font-size: 1.5em;
  padding-bottom: 5px;
}
