.sideBar {
  border-right: groove rgba(0, 0, 0, 0.33);
  background-color: rgb(25, 47, 65);
  height: 75vh;
  width: 300px;
  flex-grow: 0;
  flex-shrink: 0;
}

.sideBar h2 {
  color: white;
  margin: auto;
  padding: 20px;
  border-bottom: groove rgb(149, 144, 144);
  background-image: url('./19333449.jpg');
  background-position: center;
  background-size: 170px;
}
.navItemName {
  color: aliceblue;
}

.navItemClass {
  color: white;
  width: 100%;
  font-size: 1.25em;
  font-style: italic;
  font-weight: bolder;
  text-decoration: none;
}

.navLinks {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.navItemClass {
  border-bottom: groove gray;
  margin-top: 10px;
  margin-bottom: 10px;
}
