.songBarContainer {
  display: flex;
  flex-direction: row-reverse;
  width: 98%;
  padding: 4px;
  border-bottom: groove;
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(93, 92, 92) 0%,
    rgb(37, 46, 80) 99.4%
  );
  align-items: center;
  margin: 5px;
  border-radius: 10px;
  flex: auto;
}

.songs {
  display: flex;
  flex-direction: row;
  flex: auto;
  justify-content: flex-start;
  margin: auto;
  width: 100%;
  align-items: center;
}

.ArtistLink > p {
  color: azure;
  margin-left: 10px;
  overflow: hidden;
}

.songname {
  color: azure;
  margin-left: 10px;
  overflow: hidden;
}

.songBarImage {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
