.songCardContainer {
  display: flex;
  flex-direction: row;
  min-width: 540px;
  min-height: 80px;
  max-width: 100%;
  max-height: 80px;
  padding: 4px;
  border-bottom: groove;
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(93, 92, 92) 0%,
    rgb(37, 46, 80) 99.4%
  );
  align-items: center;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  scroll-snap-align: center;
}

.songCardContainer:hover {
  box-shadow: 2px 5px 5px rgb(77, 155, 171);
}

img {
  max-width: 100%;
  max-height: 50px;
}

.song {
  display: flex;
  flex-direction: row;
  height: 60px;
}

.songMeta {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-style: italic;
}

.songMeta p {
  margin-left: 30px;
  padding: 0;
  max-width: 200px;
  overflow: hidden;
}
