.topChartsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-start;
  width: 100%;
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
  flex: auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 10px;
}
.homeTopPlay {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-left: 10px;
}

.topPlays {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
  overflow: scroll;
  flex: auto;
}

.tcContainer {
  display: flex;
  flex-direction: row-reverse;
  border-bottom: groove;
  width: 100%;
  padding: 5px;
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(93, 92, 92) 0%,
    rgb(37, 46, 80) 99.4%
  );
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  border-radius: 10px;
}

.tcElement {
  display: flex;
  flex-direction: row;
}

.tcImage {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding-left: 5px;
}

.tcSongLink {
  color: antiquewhite;
  font-weight: bolder;
  max-width: 300px;
  margin: 0;
  padding: 0;
}

.tcArtistLink {
  color: beige;
  font-style: italic;
  padding: 0;
  margin: 0;
  font-size: medium;
}

.topArtistContainer {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.topArtistsLink {
  color: whitesmoke;
  margin-right: 20px;
}

.topArtists {
  display: flex;
  flex-direction: column;
  background-color: rgb(24, 44, 61);
  align-items: center;
  height: 100%;
}

.topArtistsHead {
  color: thistle;
  margin: 0;
  padding-bottom: 5px;
  padding-top: 5px;
}

.topArtistsHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.topArtistsPeople {
  display: flex;
  width: 100%;
  background-color: rgb(24, 44, 61);
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  overflow-y: scroll;
}

.artistGroup {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 200px;
  margin-right: 20px;
  align-items: center;
}

.artistImg {
  width: 120px;
  margin: 5px;
  height: 150px;
  border-radius: 10px;
}

.topChartsHead {
  color: white;
  margin: 0;
  padding: 0;
}
.topChartsLink {
  color: wheat;
  padding-right: 30px;
}

.topChartsItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
