.controllersContainer {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-items: center;
  width: 550px;
  justify-content: space-evenly;
}

.repeatButton {
  font-size: 2rem;
  color: cornflowerblue;
}

.playPrev {
  font-size: 2rem;
  color: darkslateblue;
}

.pause {
  font-size: 2rem;
  color: seagreen;
}

.play {
  font-size: 2.5rem;
  color: seagreen;
}

.playNext {
  font-size: 2rem;
  color: darkslateblue;
}

.shuffle {
  font-size: 2rem;
  color: steelblue;
}

.repeatButton:focus {
  outline: none;
  color: red;
}

.playPrev:hover {
  color: rgb(89, 73, 194);
}

.pause:hover {
  color: rgba(62, 163, 64, 0.683);
  filter: drop-shadow(0 0 2px rgba(62, 163, 64, 0.683))
    drop-shadow(0 0 5px rgba(62, 163, 64, 0.683))
    drop-shadow(0 0 15px rgba(62, 163, 64, 0.683));
}

.play:hover {
  color: rgba(62, 163, 64, 0.683);
  filter: drop-shadow(0 0 2px rgba(62, 163, 64, 0.683))
    drop-shadow(0 0 5px rgba(62, 163, 64, 0.683))
    drop-shadow(0 0 15px rgba(62, 163, 64, 0.683));
}

.playNext:hover {
  color: rgb(89, 73, 194);
}

.shuffle:active {
  color: rgb(220, 227, 233);
  filter: drop-shadow(0 0 2px rgba(241, 243, 241, 0.683))
    drop-shadow(0 0 5px rgba(240, 246, 240, 0.683))
    drop-shadow(0 0 15px rgba(236, 240, 236, 0.683));
}
