.seekBarContainer {
  display: flex;
  width: 600px;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}
.seekButton {
  border: none;
  height: 30px;
  background-color: transparent;
}

.seekRange {
  width: 400px;
}
