.musicPlayer_App {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 3;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin: auto;
  padding: 10px;
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
  max-height: 80vh;
}

html {
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
}
.routes {
  overflow: hidden;
  flex-grow: 4;
}
.routerDiv {
  width: 100%;
  overflow-x: hidden;
  flex-grow: 2;
}

* {
  margin: 0;
}
