.musicPlayer_App{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
}

html{
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
}